# IntelliJ IDEA
.idea/
*.iml
out/

# Maven/Gradle
target/
build/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/private/
nbbuild/
dist/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Java
*.class
